@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Merriweather", serif;
}
.top-card-contain{
    width: 1320px;
    margin: 0 auto;
    height: 600px;
    margin-top: 20px;
    background-color:#FFFFFF;
    background-image: url(images/Banner\ Image.png);
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
}
.text-card{
    padding-top: 177px;
    text-align: center;
    color: #FFFFFF;
    font-size: 50px; 
    justify-content: center;
    padding-top: 190px; 
    padding-left: 349px;
    padding-bottom: 177px;
    padding-right: 339px;
}

.middel{
    width: 802px;
    height: 800px;
    margin: 0 auto;

}
.middel-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 170px;
}

.middel-text h1{
    color: red;
    font-size: 88px;
}
.middel-text p{
    color: red;
    font-size: 23px;
    margin-top: 35px;
}
.middel-text h4{
    color: rgb(7, 2, 17);
    font-size: 48px;
    margin-top: 10px;
}
.middel-bg{
    padding: 10px;
    margin-top: 20px;
}

.mid-party{
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    margin-top: 145px;
    display: flex;
    border: none;
    background-image: url(images/Vectorrr.png);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}
.mid-left{
    width: 50%;
    width: 642px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}
.mid-left h1{
    padding-right: 400px;
    padding-left: 185px;
    padding-bottom: 20px;
    font-size: 59px;
}
.mid-left p{
    padding-top: 15px;
    padding-left: 90px;

}
.mid-btn{
    padding-top: 20px;
    padding-right: 300px;
    font-size: 20px;

}
.mid-right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mid-right-img{
    width: 349.16px;
    height: 464.65px;
    margin-left: 108px;
    margin-top: 15px;
}    

.vector{
    width: 1320px;
    height: 482px;
    margin: 0 auto;
    margin-top: 170px;
    background-color: rgba(255, 0, 0, 0.1);
    background-blend-mode: overlay;
    
}
.vector-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 125px;
    padding-right: 386px;
    padding-left: 385px;
    padding-bottom: 110px;
}
.first-colour{
    color: red;
}
.vector-text h3{
    margin-bottom: 10px;
    font-size: 35px;
}
.vector-text h4{
    margin-bottom: 10px;
    font-size: 34px;
}
.vector-text p{
    margin-bottom: 10px;
    font-size: 30px;
}
.btn{
    margin-top: 50px;
    font-size: 29px;
    background-color: rgb(255, 0, 0);
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}

.new-offer{
    width: 1320px;
    height: 463px;
    border: 2px solid red;
    margin: 0 auto;
    margin-top: 130px;
    display: flex;
    margin-bottom: 100px;
    
}
.new-right-text{
    Width:400px;
    height: 463px;
   border: 2px solid green;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.new-right-text h5{
    color: red;
    padding: 15px;
    padding-right: 100px;
    font-size: 25px;
}
.new-right-text h1{
    color: rgb(7, 2, 17);
    font-size: 48px;
    padding-right: 40px;
}
.new-right-text p{
    color: rgba(7, 2, 17, 0.6);
    padding-top: 10px;
    padding-left: 20px;
    font-size: 13px;
}
.new-middel-img{
    width: 463px;
    height: 463px;
    border: 2px solid gold;
    padding-top: 50px;
    padding-left: 50px;
    border-radius: 50% ;
    
    
    
}
.new-left-text{
    width: 463px;
    height: 463px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.new-left-text h2{
    color: rgb(255, 0, 0);
    padding-bottom: 16px;
    font-size: 55px;
    padding-right: 120px;
}
.new-left-text p{
    color: rgba(7, 2, 17, 0.6);
    font-size: 16px;
    padding-left: 100px;
}
.new-left-img{
    padding-top: 60px;
    padding-right: 150px;
}

.holiday{
    width: 1320px;
    height: 990px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 70px;
}
.holiday-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.holiday-text h4{
    color: rgb(7, 2, 17);
    font-size: 22px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.holiday-text h1{
    font-size: 70px;
    padding-bottom: 20px;
    font-weight: bold;
}
.only-this-text{
    color: rgb(255, 0, 0);
}

.p-first{
    color: rgba(7, 2, 17, 0.6);
    padding-top: 2px;
}
.p-second{
    color: rgba(7, 2, 17, 0.6);
    padding-top: 3px;
}
.p-third{
    color: rgba(7, 2, 17, 0.6);
    padding-top: 3px;
}
.buttom-bg{
    width: 1320px;
    height: 229px;
    background-color: rgb(255, 0, 0);
    position: absolute;
    top: 76%;
}
.box-img{
    width:796.46;
    height: 662.07;
    position: relative;
    z-index: 1;
    display: flex;
    top: 5%;
}
.discount-img{
    width: 305.69px;
    height: 200.69px;
    position: absolute;
    left: 68%;
    top: 20%;
    
}
.awesome{
    width: 1320px;
    height: 1163px;
    margin: 0 auto;
   
}
.awesome-text h4{
    color: red;
    padding-left: 30px;
    font-size: 24px;
}
.awesome-text h1{
    color: #070211;
    padding-left: 30px;
    font-size: 48px;
}
.awesome-text p{
    color: #070211;
    font-size: 20px;
    padding-left: 30px; 
}
.portfoli-items{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 15px;
}
.item{
    width: 424px;
    height: 450px;

}
.item img{
    width: 100%;
    height: 100%;
}
.news-letter{
    width: 1320px;
    height: 616px;
    margin: 0 auto;
    background-color: rgba(255, 0, 0, 0.05);
    margin-bottom: 100px;
}
.news-icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
.news-text h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    color: rgb(7, 2, 17);
    font-size: 48px;
}
.news-text p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    color: rgba(7, 2, 17, 0.6);
    padding-left: 40px;
}
.p-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2px; 
    color: rgba(7, 2, 17, 0.6);
}
.mail-section{
    padding-top: 45px;
    
}
.mail{
    width: 648px;
    height: 72px;
    padding-left: 20px;
    font-size: 23px;
    border-radius: 50px 0 0 50px;
    border: none;
}
.sub{
    width: 210px;
    height: 72px;
    border-radius: 0 50px 50px 0;
    padding: 25px ;
    background-color: red;
    font-weight: bolder;
    font-size: 20px;
}

.social-details{
    width: 1600px;
    height: 655px;
    margin: 0 auto;
    background-color: rgb(7, 2, 17);
}

.social-top-text{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 120px;
}
.left-text{
    color: #FFFFFF;
    font-size: 20px;
}
.right-text{
    font-size: 19px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.contact-icon {
    display: flex;
    align-items: center;
    color: #FFFFFF;
  }
.contact-site {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-right: 110px;
  }
.f-icon {
    width: 20px;
    margin-right: 15px;
  }
  
.web-icon {
    text-decoration: none;
    color: #fff;
  }
.social-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-right: 500px;
    padding-left: 500px;
    gap: 8px;
}

.fotter{
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 100px;
    margin-top: 100px;
    font-size: 18px;
}
.margin{
    margin-top: 30px;
    margin-left: 190px;
    margin-right: 140px;
}
.margin-f{
    margin-top: 90px;
    margin-left: 190px;
    margin-right: 140px;
}